body {
  background: #fff;
  font-size: 16px;
  font-family: "Raleway";
  --stella:#02A9D7;
  --paralela:#13A20A;
  /*overflow-x: auto;*/
}
@media screen and (min-width:500px) {
  body{
    font-size: 18px;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.rotate{
  transform: rotate(90deg);
}
.activity{
  padding: 75px 0;
}
.activity h2,
.activity h1{
  text-align: center;
  color:#111;
}
.activity p{
  text-align: justify;
  color:#111;
}
.stella{
  padding: 5px;
  color: white;
  background-color:var(--stella);
}
.paralela{
  padding: 5px;
  color: white;
  background-color:var(--paralela);
}
.header{
  font-size: 14px;
}
.header p{
  text-align: center;
}

section{
  padding: 75px 0;
  height: 100px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio section:nth-child(even) h1{
  color:var(--stella);
}

.inicio section:nth-child(odd) h1{
  color:var(--paralela);
}

section .duo {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.duo p{
  text-align: justify;
  max-width: 95%;
  margin: 5px auto;
}
.duo img{
  width: 150px;
  margin: auto;
}

@media screen and (min-width:500px) {
  section .duo{
    width: 80%;
    max-width: 800px;
    flex-direction: row;
  }
  section:nth-child(odd) .duo{
    flex-direction: row-reverse;
  }
}
