body {
  background: #fff;
  font-size: 16px;
  font-family: "Raleway";
  --stella:#02A9D7;
  --paralela:#13A20A;
  /*overflow-x: auto;*/
}
@media screen and (min-width:500px) {
  body{
    font-size: 18px;
  }
}
.content {
  display: flex;
  flex-direction: column;
}

.absolute{
  /*display: flex;
  overflow: hidden;
  flex-wrap: nowrap;*/
}

.menuWrapper {
  position: absolute;
  top: 0;
  display: flex;
  overflow: hidden;
  max-width: 100vw;
}

.menu {
  position: relative;
  min-width: 100vw;
  transition: 0.1s ease-in-out;
  height: 100vh;
  background-color: rgba(44,44,44,0.45);
  display: flex;
  justify-content: center;
  align-content: center;
}
.menuTop{
  left: 0px;
  top: 0px;
  transition: 0.4s;
  border: 1px solid red;
  height: 50px;
  width: 50px;
}
.menu .btnWrapper {
  position: relative;
  transition: 0.7s ease;
  max-height: 500px;
  margin: auto;
}
.menu .btnWrapper button {

  max-width: 200px;
  margin: 7px 15px;
  width: 170px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgba(255,255,255,0.4);
  column-rule-color: #111;

  font-size: 15px;
  padding: 7px;
  font-variant: small-caps;
  cursor: pointer;
}
.hamburger{
  position: absolute;
  height: 50px;
  width: 50px;
  padding: 10px;
  cursor: pointer;
}

.rotate{
  transform: rotate(90deg);
}
.activity{
  padding: 75px;
}
.activity h2,
.activity h1{
  text-align: center;
  color:#111;
}
.activity p{
  text-align: justify;
  color:#111;
}
.stella{
  /*color: var(--stella);*/
  padding: 5px;
  color: white;
  background-color:var(--stella);
}
.paralela{
  /*color: var(--paralela);*/
  padding: 5px;
  color: white;
  background-color:var(--paralela);
}
.header{
  font-size: 14px;
}
.header p{
  text-align: center;
}
