.navTop{
  position: sticky;
  top: 0;
  height: var(--espacamentoVertical);
  background-color: #fff;
  color: #333;
  box-shadow: 0px 1px 3px 0px #333;
  z-index: 1000;
}

.navTop .btnWrapper{
  max-width: 1028px;
  width: 95%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navTop .btnWrapper img{
  max-height: 85%;
}
.navTop a{
  text-decoration: none;
  color: inherit;
  height: 100%;
  cursor: pointer;
}

.navTop .btnWrapper button,
.navTop .btnWrapper .btn{
  padding: 0 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  cursor: pointer;
}
.btnWrapper h1{
  padding: 0 15px;
}
.btnWrapper button{
  border: inherit;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
}
.navTop .btnWrapper button:focus{
  outline:none
}

.navTop .btnWrapper button:hover,
.navTop .btnWrapper .btn:hover{
  background-color:#333;
}

@media screen and (min-width:550px) {
  .navTop .btnWrapper{
    width: 80%;
    justify-content: flex-start;
  }
  .navTop .btnWrapper button,
  .navTop .btnWrapper .btn{
    min-width: 70px;
    padding: 0 5px;
  }
}


.side-nav-container{
  background-color: rgba(0,0,0,0.35);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  transition: 0.4s;
  z-index: 1005;
}
.side-nav{
  position: relative;
  left: 0;
  transition: 0.4s ease;
  width: 80%;
  max-width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0px 16px 0px #555;
}

.side-nav .btn-wrapper{
  display: flex;
  flex-direction: column;
}
.side-nav .btn-wrapper li{
  height: 40px;
  font-size: 18px;
}
.side-nav .btn-wrapper li:hover{
  background-color: #dcdcdc
}

.side-nav header{
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  color: #dcdcdc;
  margin-bottom: 25px;
  font-size: 1.4em;
}
.side-nav .btn-wrapper button{
  padding: 15px;
  background-color: white;
  border: none;
  border-bottom: 1px solid #444;
  transition: 0.05s ease-out;
  cursor: pointer;
}
.side-nav .btn-wrapper button:hover{
  background-color: rgba(33,33,33,0.25);
}
